<p>header works!</p>

<ul class="list-group list-group-horizontal d-flex justify-content-center">
  <li [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active">
    <a class="list-group-item list-group" routerLink="/">Home</a>
  </li>
  <li [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active">
    <a class="list-group-item " routerLink="/user">user</a>
  </li>
  <li routerLinkActive="active">
    <a class="list-group-item list-group" routerLink="/user/1"
      >user-Details</a
    >
  </li>
  <!-- <li routerLinkActive="active">
    <a class="list-group-item list-group" routerLink="/profile">Profile</a>
  </li> -->
  <li routerLinkActive="active">
    <a class="list-group-item list-group" routerLink="/error">Error</a>
  </li>
</ul>
